flows.json
[
    {
        "id": "5f562f66.a301e",
        "type": "tab",
        "label": "device-message-adapter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Blinky-Lite-Tutorial",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3015577f.f8ec58",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "true",
        "responsetimeout": ""
    },
    {
        "id": "fac4d57e.adeeb8",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT Broker 1",
        "broker": "$(MQTTSERVERIP1)",
        "port": "1883",
        "clientid": "$(MQTTCLIENTID)",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dc36009e.fdeeb",
        "type": "json",
        "z": "5f562f66.a301e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 880,
        "wires": [
            [
                "8e27c58d.334d78"
            ]
        ]
    },
    {
        "id": "5902d0c0.241a6",
        "type": "file",
        "z": "5f562f66.a301e",
        "name": "Write initSettings.json",
        "filename": "initSettings.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 660,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f69c600b.9542",
        "type": "exec",
        "z": "5f562f66.a301e",
        "command": "iwconfig",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "afd71a05.ebd4e8"
            ],
            [],
            []
        ]
    },
    {
        "id": "5b86fa96.034764",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "f69c600b.9542"
            ]
        ]
    },
    {
        "id": "afd71a05.ebd4e8",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get Signal Quality",
        "func": "var info = msg.payload;\nvar linkStartIndex  = info.indexOf('Link Quality=');\nvar levelStartIndex = info.indexOf('Signal level=');\nvar linkStopIndex   = info.indexOf('/70');\nvar levelStopIndex   = info.lastIndexOf('dBm');\nvar linkQuality = Number(info.substring(linkStartIndex + 13, linkStopIndex));\nvar signalLevel =  Number(info.substring(levelStartIndex + 13, levelStopIndex - 1));\nvar ssid = info.substring(info.indexOf('ESSID') + 7);\nssid = ssid.substring(0,ssid.indexOf('\"'));\nvar val = {linkQuality : linkQuality, signalLevel: signalLevel, ssid:ssid};\nflow.set('linkQuality',linkQuality);\nflow.set('signalLevel', signalLevel);\nflow.set('ssid', ssid);\nreturn {topic :'test',payload : val};",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 40,
        "wires": [
            [
                "89bfcb7d.570178"
            ]
        ]
    },
    {
        "id": "89bfcb7d.570178",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "get readings",
        "func": "var device = flow.get('device');\nvar attrLink = device.linkQuality;\nvar attrSignal = device.signalLevel;\nattrLink.value = flow.get('linkQuality');\nattrSignal.value = flow.get('signalLevel');\n\nreturn {topic:'device',payload:device};",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 40,
        "wires": [
            [
                "5b761ced.98ef04"
            ]
        ]
    },
    {
        "id": "6eaa13e9.4147bc",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "initSettings",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "163af492.5e952b"
            ]
        ]
    },
    {
        "id": "163af492.5e952b",
        "type": "file in",
        "z": "5f562f66.a301e",
        "name": "Read initSettings.json",
        "filename": "initSettings.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "53c95857.5f3d68"
            ]
        ]
    },
    {
        "id": "53c95857.5f3d68",
        "type": "json",
        "z": "5f562f66.a301e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "38503a7f.593d06"
            ]
        ]
    },
    {
        "id": "38503a7f.593d06",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "parse initSettings",
        "func": "var device = msg.payload;\n\nflow.set('device', msg.payload);    \n\nreturn [\n    {topic:'chanOn0',       payload : device.onDipole.value},\n    {topic:'timeOffset0',   payload : device.filterDipole.value},\n    {topic:'sign0',         payload : device.signDipole.value},\n    {topic:'maxAcValue0',   payload : device.maxAcDipole.value},\n    {topic:'gain0',         payload : device.gainDipole.value},\n    {topic:'dacOffset0',    payload : device.offsetDipole.value},\n    {topic:'chanOn1',       payload : device.onQuad.value},\n    {topic:'timeOffset1',   payload : device.filterQuad.value},\n    {topic:'sign1',         payload : device.signQuad.value},\n    {topic:'maxAcValue1',   payload : device.maxAcQuad.value},\n    {topic:'gain1',         payload : device.gainQuad.value},\n    {topic:'dacOffset1',    payload : device.offsetQuad.value},\n    ];\n",
        "outputs": 12,
        "noerr": 0,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "f59aa147.f05a3"
            ],
            [
                "793beae4.568504"
            ],
            [
                "86c022ca.0bc48"
            ],
            [
                "5ba98a4.e097874"
            ],
            [
                "c5e84a98.3ed998"
            ],
            [
                "249626db.38e73a"
            ],
            [
                "59ed3b71.cc61c4"
            ],
            [
                "c229dd7e.e3d31"
            ],
            [
                "f4b5bede.ed744"
            ],
            [
                "4dc6cfc0.1c8af"
            ],
            [
                "4693b0db.e060f"
            ],
            [
                "df8f2683.99d278"
            ]
        ]
    },
    {
        "id": "a5c8af.09b1a75",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Prep Teensy message",
        "func": "return {topic:msg.topic, payload: (msg.topic + ' ' + msg.payload.toString())};",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 220,
        "wires": [
            [
                "9a9e83e1.275c5",
                "e04a3c2f.e165"
            ]
        ]
    },
    {
        "id": "793beae4.568504",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "f59aa147.f05a3"
            ]
        ]
    },
    {
        "id": "86c022ca.0bc48",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 300,
        "wires": [
            [
                "793beae4.568504"
            ]
        ]
    },
    {
        "id": "5ba98a4.e097874",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "86c022ca.0bc48"
            ]
        ]
    },
    {
        "id": "c5e84a98.3ed998",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 380,
        "wires": [
            [
                "5ba98a4.e097874"
            ]
        ]
    },
    {
        "id": "249626db.38e73a",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 420,
        "wires": [
            [
                "c5e84a98.3ed998"
            ]
        ]
    },
    {
        "id": "59ed3b71.cc61c4",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 460,
        "wires": [
            [
                "249626db.38e73a"
            ]
        ]
    },
    {
        "id": "c229dd7e.e3d31",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "59ed3b71.cc61c4"
            ]
        ]
    },
    {
        "id": "f4b5bede.ed744",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 540,
        "wires": [
            [
                "c229dd7e.e3d31"
            ]
        ]
    },
    {
        "id": "4dc6cfc0.1c8af",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 580,
        "wires": [
            [
                "f4b5bede.ed744"
            ]
        ]
    },
    {
        "id": "4693b0db.e060f",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 620,
        "wires": [
            [
                "4dc6cfc0.1c8af"
            ]
        ]
    },
    {
        "id": "df8f2683.99d278",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 660,
        "wires": [
            [
                "4693b0db.e060f"
            ]
        ]
    },
    {
        "id": "f59aa147.f05a3",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 220,
        "wires": [
            [
                "a5c8af.09b1a75"
            ]
        ]
    },
    {
        "id": "aad8ecf5.c0443",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "parse initSettings",
        "func": "\nvar device = msg.payload;\n\nvar teensyName = [\n    'chanOn0',\n    'timeOffset0',\n    'sign0',\n    'maxAcValue0',\n    'gain0',\n    'dacOffset0',\n    'chanOn1',\n    'timeOffset1',\n    'sign1',\n    'maxAcValue1',\n    'gain1',\n    'dacOffset1',\n    ];\nvar attrName = [\n    'onDipole',\n    'filterDipole',\n    'signDipole',\n    'maxAcDipole',\n    'gainDipole',\n    'offsetDipole',\n    'onQuad',\n    'filterQuad',\n    'signQuad',\n    'maxAcQuad',\n    'gainQuad',\n    'offsetQuad',\n    ]\nvar oldDevice = flow.get('device');\nvar payload = [];\nfor (var ii = 0; ii < 13; ++ii) payload[ii] = null;\nvar icount = 1;\nfor (var ii = 0; ii < 12; ++ii)\n{\n    if (device[ attrName[ii] ].value != oldDevice[ attrName[ii] ].value)\n    {\n        payload[icount] = {topic:teensyName[ii], payload : device[ attrName[ii] ].value};\n        ++icount;\n    }\n}\nvar attrLink = device.linkQuality;\nvar attrSignal = device.signalLevel;\nattrLink.value = flow.get('linkQuality');\nattrSignal.value = flow.get('signalLevel');\npayload[0] = {topic:'device',payload:device};\nflow.set('device', device);    \n\nreturn payload;\n",
        "outputs": 13,
        "noerr": 0,
        "x": 650,
        "y": 920,
        "wires": [
            [
                "f1dfc009.94cda"
            ],
            [
                "67e5950f.722f3c"
            ],
            [
                "93be835b.869d1"
            ],
            [
                "8892880.2c7c678"
            ],
            [
                "7cebc3d0.3b5f1c"
            ],
            [
                "80a769ea.0ac978"
            ],
            [
                "fe7b2c04.71751"
            ],
            [
                "41fe307f.02975"
            ],
            [
                "1b25d7d.6c8b428"
            ],
            [
                "82e31b85.dbca28"
            ],
            [
                "982e7037.66c01"
            ],
            [
                "f05fb5d5.354688"
            ],
            [
                "10d75af2.3c7ec5"
            ]
        ]
    },
    {
        "id": "9a9e83e1.275c5",
        "type": "debug",
        "z": "5f562f66.a301e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1350,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4ad3242.87f7a",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Prep Teensy message",
        "func": "return {topic:msg.topic, payload: (msg.topic + ' ' + msg.payload.toString())};",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 840,
        "wires": [
            [
                "9a9e83e1.275c5",
                "e04a3c2f.e165"
            ]
        ]
    },
    {
        "id": "93be835b.869d1",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 880,
        "wires": [
            [
                "67e5950f.722f3c"
            ]
        ]
    },
    {
        "id": "8892880.2c7c678",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 920,
        "wires": [
            [
                "93be835b.869d1"
            ]
        ]
    },
    {
        "id": "7cebc3d0.3b5f1c",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 960,
        "wires": [
            [
                "8892880.2c7c678"
            ]
        ]
    },
    {
        "id": "80a769ea.0ac978",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 1000,
        "wires": [
            [
                "7cebc3d0.3b5f1c"
            ]
        ]
    },
    {
        "id": "fe7b2c04.71751",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 1040,
        "wires": [
            [
                "80a769ea.0ac978"
            ]
        ]
    },
    {
        "id": "41fe307f.02975",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 1080,
        "wires": [
            [
                "fe7b2c04.71751"
            ]
        ]
    },
    {
        "id": "1b25d7d.6c8b428",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 1120,
        "wires": [
            [
                "41fe307f.02975"
            ]
        ]
    },
    {
        "id": "82e31b85.dbca28",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 1160,
        "wires": [
            [
                "1b25d7d.6c8b428"
            ]
        ]
    },
    {
        "id": "982e7037.66c01",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 1200,
        "wires": [
            [
                "82e31b85.dbca28"
            ]
        ]
    },
    {
        "id": "f05fb5d5.354688",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 1240,
        "wires": [
            [
                "982e7037.66c01"
            ]
        ]
    },
    {
        "id": "10d75af2.3c7ec5",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 1280,
        "wires": [
            [
                "f05fb5d5.354688"
            ]
        ]
    },
    {
        "id": "67e5950f.722f3c",
        "type": "delay",
        "z": "5f562f66.a301e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 840,
        "wires": [
            [
                "a4ad3242.87f7a"
            ]
        ]
    },
    {
        "id": "f1dfc009.94cda",
        "type": "link out",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "f6714104.d9fbc"
        ],
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "f6714104.d9fbc",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "Check Reading Alarms",
        "links": [
            "f1dfc009.94cda"
        ],
        "x": 695,
        "y": 100,
        "wires": [
            [
                "5b761ced.98ef04"
            ]
        ]
    },
    {
        "id": "e04a3c2f.e165",
        "type": "serial out",
        "z": "5f562f66.a301e",
        "name": "Teensy3.5",
        "serial": "3015577f.f8ec58",
        "x": 1310,
        "y": 520,
        "wires": []
    },
    {
        "id": "de05ba8f.6881d8",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Make Pretty",
        "func": "var jsonPretty = JSON.stringify(msg.payload,null,2);\nreturn {topic: msg.payload, payload:jsonPretty};",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 720,
        "wires": [
            [
                "5902d0c0.241a6"
            ]
        ]
    },
    {
        "id": "614c7057.1ab8d",
        "type": "mqtt out",
        "z": "5f562f66.a301e",
        "name": "Publish Readings 1",
        "topic": "$(MQTTPUBLISHTOPIC1)",
        "qos": "0",
        "retain": "false",
        "broker": "fac4d57e.adeeb8",
        "x": 1090,
        "y": 40,
        "wires": []
    },
    {
        "id": "f767af62.e11ee",
        "type": "mqtt in",
        "z": "5f562f66.a301e",
        "name": "Subscribe Settings 1",
        "topic": "$(MQTTSUBSCRIBETOPIC1)",
        "qos": "0",
        "datatype": "auto",
        "broker": "fac4d57e.adeeb8",
        "x": 130,
        "y": 880,
        "wires": [
            [
                "dc36009e.fdeeb"
            ]
        ]
    },
    {
        "id": "8e27c58d.334d78",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Settings Alarm Scan",
        "func": "scalarAlarmScan(msg.payload, 'setting');\n\nreturn msg;\n\nfunction getActionArray(device, type, actionType)\n{\n    var actionArray = [];\n    var keys = Object.keys(device);\n    for (var ii = 0; ii < keys.length; ++ii)\n    {\n        if (device[keys[ii]].hasOwnProperty('type'))\n        {\n            if (device[keys[ii]].type == type)\n            {\n                if (device[keys[ii]].action == actionType)\n                {\n                    actionArray.push(device[keys[ii]]);\n                }\n            }\n        }\n    }\n    return actionArray;\n}\nfunction scalarAlarmScan(device, actionType)\n{\n    var actionArray = getActionArray(device, 'scalar', actionType);\n    if (actionArray.length > 0)\n    {\n        for (var ii = 0; ii < actionArray.length; ++ii)\n        {\n            actionArray[ii].alarm.value = 0;\n            if (!isNaN(actionArray[ii].value))\n            {\n                if (actionArray[ii].value < actionArray[ii].alarm.limits.low)  actionArray[ii].alarm.value = 1;\n                if (actionArray[ii].value < actionArray[ii].alarm.limits.lolo) actionArray[ii].alarm.value = 3;\n                if (actionArray[ii].value > actionArray[ii].alarm.limits.high) actionArray[ii].alarm.value = 2;\n                if (actionArray[ii].value > actionArray[ii].alarm.limits.hihi) actionArray[ii].alarm.value = 4;\n            }\n        }\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 940,
        "wires": [
            [
                "aad8ecf5.c0443",
                "de05ba8f.6881d8"
            ]
        ]
    },
    {
        "id": "5b761ced.98ef04",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Readings Alarm Scan",
        "func": "scalarAlarmScan(msg.payload, 'reading');\nflow.set('device', msg.payload); \n\nreturn msg;\n\nfunction getActionArray(device, type, actionType)\n{\n    var actionArray = [];\n    var keys = Object.keys(device);\n    for (var ii = 0; ii < keys.length; ++ii)\n    {\n        if (device[keys[ii]].hasOwnProperty('type'))\n        {\n            if (device[keys[ii]].type == type)\n            {\n                if (device[keys[ii]].action == actionType)\n                {\n                    actionArray.push(device[keys[ii]]);\n                }\n            }\n        }\n    }\n    return actionArray;\n}\nfunction scalarAlarmScan(device, actionType)\n{\n    var actionArray = getActionArray(device, 'scalar', actionType);\n    if (actionArray.length > 0)\n    {\n        for (var ii = 0; ii < actionArray.length; ++ii)\n        {\n            actionArray[ii].alarm.value = 0;\n            if (!isNaN(actionArray[ii].value))\n            {\n                if (actionArray[ii].value < actionArray[ii].alarm.limits.low)  actionArray[ii].alarm.value = 1;\n                if (actionArray[ii].value < actionArray[ii].alarm.limits.lolo) actionArray[ii].alarm.value = 3;\n                if (actionArray[ii].value > actionArray[ii].alarm.limits.high) actionArray[ii].alarm.value = 2;\n                if (actionArray[ii].value > actionArray[ii].alarm.limits.hihi) actionArray[ii].alarm.value = 4;\n            }\n        }\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 40,
        "wires": [
            [
                "614c7057.1ab8d"
            ]
        ]
    }
]